<% data.each do |m| %>
  <div class="alert-box <%= m[:class] %> <%= options[:classes] %>" style= "<%= (m != data.last) ? "margin-bottom:5px;" : "" %>">
    <div class="message">
      <%= raw m[:message] %>
    </div>
  </div>
<% end %>
<% if options[:space].present? %>
<div style="margin-top:<%= options[:space] %>px;"></div>
<% end %>